# Supabase Configuration
VITE_SUPABASE_URL=https://iaypgepkmphoozrtmqbt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlheXBnZXBrbXBob296cnRtcWJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NDQxMzksImV4cCI6MjEwMDEyMDEzOX0.tGUBgdo5IPWOgt17wiJOdCKXT09HLgh4OeGyKPAVhmw
